[Unit]
Description=Notification to keep the battery charge is between 40-80%
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=90
User=rahmanuh
ExecStart=/home/rahmanuh/Work/myutils/battery-notify.sh

[Install]
WantedBy=multi-user.target
